body{
  background-color: #c4c4c5;
}

.nav_bar_btn{
    margin: 20px;
    padding-top:50px;
}
.Delete_btn{
    margin-left: 20px;
}
.hours_dev{
    margin: 50px 20px 20px 20px;
}

#hrs_tit{
    font-weight: bold;
    font-size: 40px;
}
.submit_btn{
    margin-top: 40px;
}
.submit_btn_side{
    margin-right: 20px;
}

.table_div{
    margin: 5px;
    margin-bottom: 100px;
}

.logo{
    width: 200px;
}
.cardStyles {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 16px;
    margin: 16px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
  }
  
  .cardStyles:hover {
    transform: scale(1.02);
  }
  
  .titleStyles {
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 8px;
    color: #333;
  }
  
  .contentStyles {
    font-size: 1em;
    color: #666;
  }
  
  .contentStyles p {
    margin: 4px 0;
  }
  .span_dev{
    font-weight: bold;
  }


.shift_div{
    margin-left: 20px;
   

}
.shift_btn{
    font-weight: bold;
    font-size: 25px;
    margin-left: 15px;
    

}
.shift_btn_div{
    border: none;
    background-color: #c4c4c5;
}
/* Container to display cards in a flexible layout */

.table_dev{
  padding: 40px;
}

.card-container {
  display: flex;
  flex-wrap: wrap; /* Allows cards to wrap onto multiple lines */
  gap: 1rem; /* Space between cards */
  justify-content: center; /* Center cards horizontally */
}



.carddesign:hover {
  transform: scale(1.05); /* Slightly scale up the card on hover */
}

.card-header {
  font-weight: bold;
}
.card-body {
  text-align: center;
 /* Center text within card body */
}



.button-container {
  display: flex;
  align-items: center;
  gap: 10px; 
  margin-bottom: 20px;/* space between buttons */
}


.shift_div {
  display: flex;
}

.shift_btn_div {
  display: flex;
  align-items: center;
  gap: 5px; /* space between icon and text */
}

.shift_btn {
  margin-left: 5px;
  margin-right: 30px;
}
.bold-text {
  font-weight: bold;

}
.loading {
  display: flex;
  justify-content: center;
  align-items: center;

}
.load{
  margin-top: 150px;
  width: 300px;
  height: 300px;
}

.lognote_div{
    margin-top: 50px;
    
}
